.table {
  display: inline-block;
  padding: 0;
  border: solid 1px #ccc;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-spacing: 0px;

  .table-row {
    padding: 5px;
    border: none;

    &:nth-child(even) {
      background-color: #eee;
    }

    .table-cell {
      padding: 15px 10px;
      border: none;
    }
  }
}
